.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: var(--font-color);
}

.pagination button {
  padding: 8px 16px;
  background-color: #007bff;
  color: var(--font-color);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
