.search {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 22px;
  border-radius: 5px;
  background-color: #353c41;
  color: var(--font-color);
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease-in-out;

  &:focus {
    border-bottom-color: #007bff;
  }
}
